<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/45c04dd5-6157-45ff-9874-ca67954185b5/resourceGroups/Diploma/providers/Microsoft.Web/sites/easyukr</ResourceId>
    <ResourceGroup>Diploma</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://easyukr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>easyukr.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>easyukr</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$easyukr</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EasyUkrNew" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:markan.database.windows.net,1433;Initial Catalog=EasyUkrNew;Persist Security Info=True;User ID=markan@markan;Password=kuchmynda!95;Application Name=EntityFramework" Name="Data Source=tcp:markan.database.windows.net,1433;Initial Catalog=EasyUkrNew;Persist Security Info=True;User ID=markan@markan;Password=kuchmynda!95;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EasyUkr.DataAccessLayer.Contexts.EasyUkrDbContext, EasyUkr.DataAccessLayer" MigrationConfiguration="EasyUkr.DataAccessLayer.Migrations.Configuration, EasyUkr.DataAccessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EasyUkrNew-Web.config Connection String">
      <ParameterValue>Data Source=tcp:markan.database.windows.net,1433;Initial Catalog=EasyUkrNew;Persist Security Info=True;User ID=markan@markan;Password=kuchmynda!95;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EasyUkrNew-Web.config Connection String">
      <ParameterValue>Data Source=tcp:markan.database.windows.net,1433;Initial Catalog=EasyUkrNew;Persist Security Info=True;User ID=markan@markan;Password=kuchmynda!95;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EasyUkrNew-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EasyUkrNew-Web.config Connection String">
      <ParameterValue>Data Source=tcp:markan.database.windows.net,1433;Initial Catalog=EasyUkrNew;Persist Security Info=True;User ID=markan@markan;Password=kuchmynda!95;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EasyUkrNew-Web.config Connection String">
      <ParameterValue>data source=MARKAN;initial catalog=EasyUkrNew;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>