<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mark0.easyukrainian">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
            android:name="android.support.multidex.MultiDexApplication"
            android:allowBackup="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PreferenceActivity">
        </activity>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".InitActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".CardsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".TaskChooseActivity">
        </activity>
        <activity android:name=".TaskActivity">
        </activity>
        <activity
                android:name=".UserEditActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".UserRegisterActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login">
        </activity>
        <activity
                android:name=".ProfileNewActivity"
                android:label="@string/title_activity_profile_new"
                android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".GameActivity">
        </activity>
        <activity android:name=".DialogueDatailsActivity">
        </activity>
    </application>

</manifest>